@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  --bg-primary: hsl(212, 45%, 89%);
  --bg-secondary: hsl(0, 0%, 100%);
  --text-primary: hsl(218, 44%, 22%);
  --text-secondary: hsl(220, 15%, 55%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
svg {
  min-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg-primary);
  font-size: 16px;
  color: var(--text-primary);
  font-family: "Outfit", sans-serif;
}

.card {
  --border-radius: 1rem;
  --padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--bg-secondary);
  padding: var(--padding);
  display: grid;
  max-width: 17rem;
  gap: var(--padding);
  text-align: center;
}

.card img {
  height: 14rem;
  aspect-ratio: 1 /1;
  border-radius: var(--border-radius);
}

.card h3 {
  color: var(--text-primary);
  font-weight: bold;
}
.card p {
  color: var(--text-secondary);
  padding-bottom: var(--padding);
}
